/* Fonts */
@font-face {
	font-family: inter;
	font-weight: 400;
	src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
	font-family: inter;
	font-weight: 700;
	src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
	font-family: inter;
	font-weight: 800;
	src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}

/* Colors */
:root {
/* Primary */
--orange: hsl(35, 77%, 62%);
--red: hsl(5, 85%, 63%);

/* Neutral */
--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);
}

/* Global Rules */
body {
	font-family: inter, sans-serif;
}
h1 {
	font-size: 3.3rem;
}
p {
	line-height: 1.8;
}

/* Nav Bar */
.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a {
	color: var(--very-dark-blue) !important;
}
aside {
	background-color: var(--very-dark-blue);
	color: var(--off-white);
}
aside article {
	padding: 1.75rem 0;
}
aside article:not(:last-child) {
	border-bottom: 1px solid var(--dark-grayish-blue);
}
aside article p {
	color: var(--grayish-blue);
}

/* Custom Classes */
/* Fonts */
.fw-xb {
	font-weight: 800;
}
/* Colors */
.fg-orange {
	color: var(--orange);
}
.fg-d-grayish-blue {
	color: var(--dark-grayish-blue);
}

@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}


/* Custom Components */
.navbar-toggler {
	width: 3rem;
	height: 1.5rem;
	background-image: url('../assets/images/icon-menu.svg');
	background-size: cover;
	background-repeat: no-repeat;
}
.btn-close {
	transform: translate(0);
	width: 1rem;
	height: 1rem;
	background-image: url('../assets/images/icon-menu-close.svg') !important;
	background-size: cover;
}

.btn-primary {
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 1rem 2.2rem;
	color: var(--very-dark-blue);
	background-color: var(--red);
}
.btn-primary:hover {
	color: var(--off-white);
	background-color: var(--very-dark-blue);
}


